<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/bootstrap-custom.css"/>
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/allow.conf">Display list</a></li>
                <li role="presentation"><a href="/allow.conf?dl=1">Download list</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Alohomora</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" action="/add" method="POST">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="4">Allowed list</th>
                        </tr>
                        <tr>
                            <th>IP address</th>
                            <th>Description</th>
                            <th>Expiration</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" name="ip" value="{{ ip }}" autofocus="autofocus">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" name="desc">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control input-sm" name="expiration">
                                        <option value="0" selected="">Forever</option>
                                        <option value="60">1 minute</option>
                                        <option value="3600">1 hour</option>
                                        <option value="86400">1 day</option>
                                        <option value="604800">1 week</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">Add</button>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for allowed in allowed_list %}
                        <tr>
                            <td class="ip">{{ allowed.ip }}</td>
                            <td><span class="text-muted">
                                {% if allowed.desc %}
                                    {{ allowed.desc }}
                                {% endif %}
                            </td>
                            <td>
                                {% if allowed.expiration == 0 %}
                                    <span class="label label-default">Permanent</span>
                                {% else %}
                                    <span class="label label-info">{{ allowed.expiration - cur_time }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="/del/{{ allowed.id }}" class="btn btn-danger btn-xs">&times;</a></td>
                        </li>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>
