<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/bootstrap-custom.css">
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Alohomora</h3>
    </div>
    <form class="form-signin" action="/login-check" method="POST">
        <h2 class="form-signin-heading">Authentication</h2>
        <label for="token" class="sr-only">Token</label>
        <input type="password" name="token" class="form-control" placeholder="Token" required="required" autofocus="autofocus">
        <button class="btn btn-lg btn-default btn-block" type="submit">Connection</button>
    </form>
</div>

</body>
</html>
